<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl mt-8">Editing property</h1>
  <%= render "form", property: @property %>
  <%= link_to "Show this property", @property, class: "ml-2 rounded-lg py-3 px-5 bg-deep-navy-blue inline-block font-medium text-white hover:bg-deep-yellow" %>
  <%= link_to "Back to properties", properties_path, class: "ml-2 rounded-lg py-3 px-5 bg-deep-navy-blue inline-block font-medium text-white hover:bg-deep-yellow" %>
</div>
