<div class="mt-8 mx-auto md:w-2/3 w-full">
  <h3 class="font-bold text-2xl sm:text-lg">Add new property</h3>

  <%= render "form", property: @property %>

  <%= link_to 'Back to properties', properties_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
